//Backgrounds

$header_background: #000000;
$body_background: #49005F;
$footer_background: #000000;

//Blocks

$content_bookmark_block: #707070;
$category_background_block: #AFF6FF;
//Opacity has to be at 60%

//Typography

$main_font: "Kefa", sans-serif;
$nav_font_color: #A37BFF;
$parents_font_color: #000000;
$kids_font_color: #FFFFFF;
$everything_Typo: #FFFFFF;


