/*

body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
*/

/* DropDown Menu */

.dropButton
{
    background-color: black;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 10px;
    margin-top: -10px;
    margin-bottom: -20px;
    border: none;
    cursor: pointer;
}
.dropButton:hover,
.dropButton:focus
{
    background-color: #49005F;
}
.dropdownNav
{
    position: relative;
    display: inline-block;
}
.content a
{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.content
{
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdownNav a:hover
{
    background-color: #7BBBEA;
}
.show
{
    display: block;
}
header
{
    background-color: black;
}

@media only screen and (min-width: 481px)
{
    .dropdownNav
    {
        visibility: hidden;
    }
}
@media only screen and (max-width: 480px)
{
    .desktopNav
    {
        visibility: hidden;
        display: none;
    }
}

